.addButton{
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bolder;
}
.addButton:hover{
    background: rgb(153, 153, 153);
    color: white;
    border: none;
    font-weight: bolder;
}
.car-img:hover{
    transition: transform 0.8s;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}